/* Reset some default styles */
body {
  background-color: #8da776e1;
  }

  h2 {color:rgb(255, 255, 255);
    font-size: 20px;
    width: 400px;
    height: 25px;
    text-align: center;
 }  
   


.heading {
     text-align: center;
     width: 570px;
     height:70px;
     justify-content: center;
     border-radius: 5px;
     padding-top:10px;
     padding-left:130px;
     margin-top: 20px;
}

  .input_1 {
    width:600px;
    height: 70px;
    padding-top:35px;
    padding-bottom:0px ;
    padding-left: 100px;
    border-radius: 5px;
    background-color: #657954e1;
    margin-top: 20px;
  }


  p {
    background-color: #657954e1;
    color: rgb(236, 243, 240);
    height:70px;
    width: 600px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 100px;
    padding-top:40px;
    padding-bottom:2px;
    
  }

  .input_1 label {
    font-weight: bold;
    color: #fff;
    height: 100px;
}
  .input_1 input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    justify-content:center ;
  }
  
  .input_1 button {
    width: 48px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: justify;
    
  }
  
  .input_1 button:hover {
    background-color: #f8e1c0;
  }

