/* Reset some default styles */
body {
    background:rgb(7, 7, 89);
  }

  h2 {color:rgb(255, 255, 255);
     height:0vh;
     display: flex;
     justify-content: center;
  }


  h6 {
    color:rgb(255, 255, 255)
  }
  

.heading {
  text-align: center;
}


  .input_1 {
     margin-top: 100px;
     text-align: center;
    }

  
    .input_1r label {
    font-weight: bold;
    color: #fff;
  }
  
  .input_1 input {
    width: 300px;
    height: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input_1 button {
    width: 300px;
    height: 0px;
    padding: 100px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input_1 button:hover {
    background-color: #568746;
  }

  
  .jinja_1 {
    padding-left: 100px;
    padding-right: 30px;
    margin-left: 170px;
    width: 50%;
    height: 200vh;
    background-color: rgb(7, 7, 70);
    margin-top: 25px;
    
  }
  
  