<!DOCTYPE html>
<html>
<head>
   <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <title>SHIBLEE COLLEGE</title>
</head>
<body>
    <div class="heading">
        <h2>WELCOME TO SHIBLEE COLLEGE</h2>
    </div>


    <div id="chat-container">
        <div id="chat-display"></div>
    </div> 



    <div class="input_1">
    <form>
    <label for="questions">ASK</label>
    <input type="text" id="user_Input" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
    </form>
    </div>




    <div class="jinja_1">
        </h2>Response is here:  {{ result }}</h2>
      </div>
      

</body>
</html>
